
{{> head}}

<!--Importando Navbar usando hbs-->
{{> navbar}}
 
<div class="row">
	<div class="col-8">
		<h1>Wisdom</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo rerum nam quae porro voluptates sequi doloribus laudantium dolores assumenda sint fugiat deserunt accusantium rem, culpa architecto ad, debitis nulla pariatur!
		</p>
	</div>

	<div class="col-4">
		<img src="assets/img/wisdom.jpg" alt="" class="img-thumbnail">
	</div>
</div>

{{> footer}}